


.speech{
font:x-large;
color: black;
}

.song{
    font:x-large;
    color: black;
}

.direction{
    font:x-large;
    color: black;
    background-color: lightblue;
}

.name{
    font:x-large;
    color: black;
}

.speech:hover{
color: red;
}

.song:hover{
    color: red;
}

.direction:hover{
color: red;
}

.name:hover{
    color: red;
}

.mrsP {
color: brown;
}

.CONST{
color: darkblue;
}
