


.speech{
font:x-large;
color: black;
}

.song{
    font:x-large;
    color: black;
}

.direction{
    font:x-large;
    color: black;
    background-color: lightblue;
}

.name{
    font:x-large;
    color: black;
}

.speech:hover{
color: red;
}

.song:hover{
    color: red;
}

.direction:hover{
color: red;
}

.name:hover{
    color: red;
    background-color: yellow;
    font-size: larger;
    
}

.mrsP {
color: brown;
}

.CONST{
color: darkblue;
}


table, th, td {
    border: 1px solid;
    color: green;
    background-color: lightcoral;
    text-align: center;
    grid-row: auto;

  }